---
const { title } = Astro.props;
---

<nav class="text-sm">
	<ul class="flex items-center space-x-2 text-gray-600">
		<li>
			<a href="/" class="transition-colors duration-300 hover:text-accent">Home</a>
		</li>
		<li>/</li>
		<li>
			<a href="/#projects" class="transition-colors duration-300 hover:text-accent">Projects</a>
		</li>
		<li>/</li>
		<li class="text-accent">{title}</li>
	</ul>
</nav>
