@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
	--color-bg: #0f172a;
	--color-container-bg: #121212;
	--color-text: #e2e8f0;
	--color-accent: #60a5fa;
	--color-secondary: #c084fc;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family: 'Poppins', sans-serif;
}
